body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    gap: 20px;
}

#clearButton{
    padding: 15px 30px;
    font-size: 18px;
    background-color: #3b83be;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
.square {
    background-color: #092f97;
    border: 1px solid #032033;
}
.square:hover{
    background-color: #032033;
}

